# Исключения: 
# VS Solution (расширение .sln)
# VS Project (расширение .vcproj)
# файлы исходного кода и заголовочные файлы (.cpp, .h)
# файлы с данными (.txt)

.gitignore
/cppm-hw-??-??/*
!/cppm-hw-??-??/*.sln
!/cppm-hw-??-??/*.vcxproj
!/cppm-hw-??-??/*.cpp
!/cppm-hw-??-??/*.h
!/cppm-hw-??-??/*.txt
!/cppm-hw-??-??/readme.md
!/cppm-hw-??-??/cppm-hw-??-??/

/cppm-hw-??-??/cppm-hw-??-??/*
!/**/*.cpp
!/**/*.txt
!/**/*.vcxproj

!/cppm-hw-11-02/App/
/cppm-hw-11-02/App/*
!/cppm-hw-11-02/App/*.cpp
!/cppm-hw-11-02/App/*.vcxproj

!/cppm-hw-11-02/DynamicLib/
/cppm-hw-11-02/DynamicLib/*
!/cppm-hw-11-02/DynamicLib/*.cpp
!/cppm-hw-11-02/DynamicLib/*.h
!/cppm-hw-11-02/DynamicLib/*.sln
!/cppm-hw-11-02/DynamicLib/*.vcxproj